<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>board</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bulma-divider.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/post_detail.js"></script>

</head>
<style>
    .cell-width-15-bold {
        width: 20%;
        font-weight: bold;
    }
    .detail-edit-div {
        width: 40%;
        margin: auto;
    }
</style>
<body>
<div class="wrap">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-burger burger" data-target="navbarMenu"></span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div th:if="${name != null}">
                            <form id="my_form" action="/user/logout" method="post">
                                <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">
                                    로그아웃
                                </a>
                            </form>
                        </div>
                    </div>
                    <a th:unless="${name != null}"
                       class="navbar-item is-size-5 has-text-weight-semibold" href="/user/signup">
                        회원가입
                    </a>
                    <a th:unless="${name != null}"
                       class="navbar-item is-size-5 has-text-weight-semibold" href="/user/login">
                        로그인
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <section id="show-detail" class="hero section-container">
        <input id="post-id" type="hidden" th:value="${post.id}">
        <input id="logined-user-id" type="hidden" th:value="${userId}">
        <input id="logined-name" type="hidden" th:value="${name}">
        <input id="posted-user-id" type="hidden" th:value="${post.userId}">
        <div class="hero-body detail-edit-div">
            <div class="container">
                <div>
                    <table id="detail-table" class="table table is-fullwidth">
                        <tbody>
                        <tr>
                            <td class="cell-width-15-bold">제목</td>
                            <td id="detail-title" colspan="3" th:text="${post.title}"></td>
                        </tr>
                        <tr>
                            <td class="cell-width-15-bold">작성자</td>
                            <td id="detail-name" class="cell-width-35" th:text="${post.name}"></td>
                        </tr>
                        <tr>
                            <td class="cell-width-15-bold">작성일</td>
                            <td id="detail-createdate" class="cell-width-35"
                                th:text="${#temporals.format(post.modifiedAt, 'YYYY/MM/dd HH:mm')}"></td>
                        </tr>
                        <tr id="content-tr">
                            <td class="cell-width-15-bold">내용</td>
                            <td id="detail-content" colspan="3">
                                <pre th:text="${post.content}"></pre>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="buttons is-right edit-btns-div">
                    <button class="button is-rounded" onclick="location.href='/'">목록으로</button>
                </div>
            </div>

            <hr>

            <div id="write-comment-wrap">
                <div class="write-comment">
                    <textarea class="textarea" id="comment-textarea"></textarea>
                </div>
                <div class="write-comment-btn-div">
                    <button id="write-comment-btn" class="button is-rounded modal-button">댓글작성</button>
                </div>
            </div>

            <div id="comments-div" class="comments">
            </div>
        </div>
    </section>
    <section id="edit-post" class="hero section-container">
        <div class="hero-body">
            <div class="container detail-edit-div">

                <form th:action="@{/posts/post/{id}(id=${post.id})}" method="post">
                    <input type="hidden" name="_method" value="put">
                    <div class="field">
                        <label class="label">제목</label>
                        <div class="control">
                            <input name="title" id="write-title" class="input" type="text"
                                   placeholder="제목을 입력하세요" th:value="${post.title}">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">작성자</label>
                        <div class="control">
                            <input name="name" id="write-name" class="input" type="text"
                                   placeholder="이름을 입력하세요" th:value="${post.name}" readonly>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">내용</label>
                        <div class="control">
                  <textarea name="content" id="write-content" class="textarea"
                            placeholder="내용을 입력하세요" th:text="${post.content}"></textarea>
                        </div>
                        <div class="buttons is-right complete-edit-btn-div">
                            <button class="button is-rounded" onclick="window.location.reload()">취소</button>
                            <button class="button is-rounded modal-button">수정하기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>

</div>
</body>

</html>