<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>board - 회원가입</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/sign_up.js"></script>
</head>

<body>
<input id="isLoginedMessage" type="hidden" th:value="${isLoginedMessage}">
<!-- 회원가입 section -->
<section id="signup-section" class="container">
    <div class="columns is-multiline">
        <div class="column is-8 is-offset-2 register">
            <div class="columns">
                <div class="column right has-text-centered">
                    <a href="../..">
                        <h1 class="title is-4">회원가입</h1>
                    </a>

                    <!--<p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>-->
                    <form th:action="@{/user/signup}" method="post" modelAttribute="signupRequestDto">

                        <div class="field">
                            <div class="control">
                                <input name="nickname" class="input is-medium" type="text"
                                       placeholder="닉네임" th:value="${signupRequestDto.nickname}">
                                <span class="validation-warning" th:text="${valid_nickname}">&nbsp;</span>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input name="name" class="input is-medium" type="text"
                                       placeholder="이름" th:value="${signupRequestDto.name}">
                                <span class="validation-warning" th:text="${valid_name}">&nbsp;</span>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input name="email" class="input is-medium" type="text"
                                       placeholder="이메일" th:value="${signupRequestDto.email}">
                                <span class="validation-warning" th:text="${valid_email}">&nbsp;</span>
                                <p name="errorMessage" class="validation-warning" th:text="${errorMessage}">&nbsp;</p>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input name="password" class="input is-medium" type="password"
                                       placeholder="비밀번호" th:value="${signupRequestDto.password}">
                                <span class="validation-warning" th:text="${valid_password}">&nbsp;</span>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input name="checkPassword" class="input is-medium" type="password"
                                       placeholder="비밀번호 확인" th:value="${signupRequestDto.checkPassword}">
                                <span class="validation-warning" th:text="${valid_checkPassword}">&nbsp;</span>
                            </div>
                        </div>

                        <button class="button is-block is-info is-fullwidth is-medium">회원가입</button>
                        <br />

                    </form>
                    <button class="button is-block is-info is-fullwidth is-medium" onclick="location.href='/user/login'">로그인</button>
                </div>
            </div>
        </div>
        <div class="column is-8 is-offset-2">
            <br>
            <nav class="level">
                <div class="level-left">
                </div>
            </nav>
        </div>
    </div>
</section>
</body>
<style>

    .title{
        margin: 100px 0 30px 0;
    }
</style>

</html>