<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>board - 글쓰기</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bulma-divider.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
</style>
<body>
<div class="wrap">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-burger burger" data-target="navbarMenu"></span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div th:if="${name != null}">
                            <form id="my_form" action="/user/logout" method="post">
                                <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">
                                    로그아웃
                                </a>
                            </form>
                        </div>
                    </div>
                    <a th:unless="${name != null}"
                       class="navbar-item is-size-5 has-text-weight-semibold" href="/user/signup">
                        회원가입
                    </a>
                    <a th:unless="${name != null}"
                       class="navbar-item is-size-5 has-text-weight-semibold" href="/user/login">
                        로그인
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero section-container">
        <input id="logined-user-id" type="hidden" th:value="${userId}">
        <div class="hero-body">
            <div class="container list-btn-container">
                <section class="modal-card-body">
                    <!-- Content ... -->
                    <form action="/posts/post" method="post">
                        <div class="field">
                            <label class="label">제목</label>
                            <div class="control">
                                <input name="title" id="write-title" class="input" type="text" placeholder="제목을 입력하세요">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">작성자</label>
                            <div class="control">
                                <input name="name" id="write-name" class="input" type="text"
                                       placeholder="이름을 입력하세요" th:value="${name}">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">내용</label>
                            <div class="control">
                                <textarea name="content" id="write-content" class="textarea" rows="12" placeholder="내용을 입력하세요"></textarea>
                            </div>
                            <div class="buttons is-right write-btns-div">
                                <button type="button" class="button is-rounded modal-button" onclick="location.href='/'">목록으로</button>
                                <button class="button is-rounded">글쓰기</button>
                            </div>
                        </div>
                        <input id="write-id" type="hidden" value="">
                    </form>
                </section>
            </div>
        </div>
    </section>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>

</body>

</html>